/*!
 * Theme Twelve
 */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,600;1,400;1,600&family=IBM+Plex+Sans+Arabic:wght@400;700&display=swap");

:root {
    --font-family-primary: Graphik, IBM Plex Sans Arabic, sans-serif;
    --font-family-secondary: Sunsive, IBM Plex Sans Arabic, serif;
    --font-family-tertiary: Graphik, IBM Plex Sans Arabic, serif;
    --font-family-serif: serif, IBM Plex Sans Arabic, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --radius: 4px;
    --border-radius: 4px;
    --color-primary: #16A34A;
    --bs-primary-rgb: 26, 73, 248;
    --color-primary-: #16A34A;
    --bs-primary--rgb: 22, 163, 74;
    --color-primary-10: rgb(248.01, 252.24, 249.57);
    --bs-primary-10-rgb: 248, 252, 250;
    --color-primary-25: rgb(243.35, 250.4, 245.95);
    --bs-primary-25-rgb: 243, 250, 246;
    --color-primary-50: rgb(231.7, 245.8, 236.9);
    --bs-primary-50-rgb: 26, 73, 248;
    --color-primary-100: rgb(208.4, 236.6, 218.8);
    --bs-primary-100-rgb: 208, 237, 219;
    --color-primary-200: rgb(161.8, 218.2, 182.6);
    --bs-primary-200-rgb: 162, 218, 183;
    --color-primary-300: rgb(115.2, 199.8, 146.4);
    --bs-primary-300-rgb: 115, 200, 146;
    --color-primary-400: rgb(68.6, 181.4, 110.2);
    --bs-primary-400-rgb: 69, 181, 110;
    --color-primary-500: #16A34A;
    --bs-primary-500-rgb: 22, 163, 74;
    --color-primary-600: rgb(17.6, 130.4, 59.2);
    --bs-primary-600-rgb: 18, 130, 59;
    --color-primary-700: rgb(13.2, 97.8, 44.4);
    --bs-primary-700-rgb: 13, 98, 44;
    --color-primary-800: rgb(8.8, 65.2, 29.6);
    --bs-primary-800-rgb: 9, 65, 30;
    --color-primary-900: rgb(4.4, 32.6, 14.8);
    --bs-primary-900-rgb: 4, 33, 15;
    --color-primary-950: rgb(2.2, 16.3, 7.4);
    --bs-primary-950-rgb: 2, 16, 7;
    --color-secondary: #F3F8F2;
    --bs-secondary-rgb: 243, 248, 242;
    --color-secondary-: #F3F8F2;
    --bs-secondary--rgb: 243, 248, 242;
    --color-secondary-10: rgb(254.64, 254.79, 254.61);
    --bs-secondary-10-rgb: 255, 255, 255;
    --color-secondary-25: rgb(254.4, 254.65, 254.35);
    --bs-secondary-25-rgb: 254, 255, 254;
    --color-secondary-50: rgb(253.8, 254.3, 253.7);
    --bs-secondary-50-rgb: 254, 254, 254;
    --color-secondary-100: rgb(252.6, 253.6, 252.4);
    --bs-secondary-100-rgb: 253, 254, 252;
    --color-secondary-200: rgb(250.2, 252.2, 249.8);
    --bs-secondary-200-rgb: 250, 252, 250;
    --color-secondary-300: rgb(247.8, 250.8, 247.2);
    --bs-secondary-300-rgb: 248, 251, 247;
    --color-secondary-400: rgb(245.4, 249.4, 244.6);
    --bs-secondary-400-rgb: 245, 249, 245;
    --color-secondary-500: #F3F8F2;
    --bs-secondary-500-rgb: 243, 248, 242;
    --color-secondary-600: rgb(194.4, 198.4, 193.6);
    --bs-secondary-600-rgb: 194, 198, 194;
    --color-secondary-700: rgb(145.8, 148.8, 145.2);
    --bs-secondary-700-rgb: 146, 149, 145;
    --color-secondary-800: rgb(97.2, 99.2, 96.8);
    --bs-secondary-800-rgb: 97, 99, 97;
    --color-secondary-900: rgb(48.6, 49.6, 48.4);
    --bs-secondary-900-rgb: 49, 50, 48;
    --color-secondary-950: rgb(24.3, 24.8, 24.2);
    --bs-secondary-950-rgb: 24, 25, 24;
    --color-tertiary: #dff0f9;
    --bs-tertiary-rgb: 228, 254, 227;
    --color-tertiary-: #dff0f9;
    --bs-tertiary--rgb: 228, 254, 227;
    --color-tertiary-10: rgb(254.19, 254.97, 254.16);
    --bs-tertiary-10-rgb: 254, 255, 254;
    --color-tertiary-25: rgb(253.65, 254.95, 253.6);
    --bs-tertiary-25-rgb: 254, 255, 254;
    --color-tertiary-50: rgb(252.3, 254.9, 252.2);
    --bs-tertiary-50-rgb: 252, 255, 252;
    --color-tertiary-100: rgb(249.6, 254.8, 249.4);
    --bs-tertiary-100-rgb: 250, 255, 249;
    --color-tertiary-200: rgb(244.2, 254.6, 243.8);
    --bs-tertiary-200-rgb: 244, 255, 244;
    --color-tertiary-300: rgb(238.8, 254.4, 238.2);
    --bs-tertiary-300-rgb: 239, 254, 238;
    --color-tertiary-400: rgb(233.4, 254.2, 232.6);
    --bs-tertiary-400-rgb: 233, 254, 233;
    --color-tertiary-500: #dff0f9;
    --bs-tertiary-500-rgb: 228, 254, 227;
    --color-tertiary-600: rgb(182.4, 203.2, 181.6);
    --bs-tertiary-600-rgb: 182, 203, 182;
    --color-tertiary-700: rgb(136.8, 152.4, 136.2);
    --bs-tertiary-700-rgb: 137, 152, 136;
    --color-tertiary-800: rgb(91.2, 101.6, 90.8);
    --bs-tertiary-800-rgb: 91, 102, 91;
    --color-tertiary-900: rgb(45.6, 50.8, 45.4);
    --bs-tertiary-900-rgb: 46, 51, 45;
    --color-tertiary-950: rgb(22.8, 25.4, 22.7);
    --bs-tertiary-950-rgb: 23, 25, 23;
    --color-quaternary: #dff0f9;
    --bs-quaternary-rgb: 241, 255, 220;
    --color-quaternary-: #dff0f9;
    --bs-quaternary--rgb: 241, 255, 220;
    --color-quaternary-10: rgb(254.58, 255, 253.95);
    --bs-quaternary-10-rgb: 255, 255, 254;
    --color-quaternary-25: rgb(254.3, 255, 253.25);
    --bs-quaternary-25-rgb: 254, 255, 253;
    --color-quaternary-50: rgb(253.6, 255, 251.5);
    --bs-quaternary-50-rgb: 254, 255, 252;
    --color-quaternary-100: rgb(252.2, 255, 248);
    --bs-quaternary-100-rgb: 252, 255, 248;
    --color-quaternary-200: rgb(249.4, 255, 241);
    --bs-quaternary-200-rgb: 249, 255, 241;
    --color-quaternary-300: rgb(246.6, 255, 234);
    --bs-quaternary-300-rgb: 247, 255, 234;
    --color-quaternary-400: rgb(243.8, 255, 227);
    --bs-quaternary-400-rgb: 244, 255, 227;
    --color-quaternary-500: #dff0f9;
    --bs-quaternary-500-rgb: 241, 255, 220;
    --color-quaternary-600: rgb(192.8, 204, 176);
    --bs-quaternary-600-rgb: 193, 204, 176;
    --color-quaternary-700: rgb(144.6, 153, 132);
    --bs-quaternary-700-rgb: 145, 153, 132;
    --color-quaternary-800: rgb(96.4, 102, 88);
    --bs-quaternary-800-rgb: 96, 102, 88;
    --color-quaternary-900: rgb(48.2, 51, 44);
    --bs-quaternary-900-rgb: 48, 51, 44;
    --color-quaternary-950: rgb(24.1, 25.5, 22);
    --bs-quaternary-950-rgb: 24, 25, 22;
    --color-gray: #45454c;
    --bs-gray-rgb: 69, 69, 76;
    --color-gray-: #45454c;
    --bs-gray--rgb: 69, 69, 76;
    --color-gray-10: rgb(249.42, 249.42, 249.63);
    --bs-gray-10-rgb: 249, 249, 250;
    --color-gray-25: rgb(245.7, 245.7, 246.05);
    --bs-gray-25-rgb: 246, 246, 246;
    --color-gray-50: rgb(236.4, 236.4, 237.1);
    --bs-gray-50-rgb: 236, 236, 237;
    --color-gray-100: rgb(217.8, 217.8, 219.2);
    --bs-gray-100-rgb: 218, 218, 219;
    --color-gray-200: rgb(180.6, 180.6, 183.4);
    --bs-gray-200-rgb: 181, 181, 183;
    --color-gray-300: rgb(143.4, 143.4, 147.6);
    --bs-gray-300-rgb: 143, 143, 148;
    --color-gray-400: rgb(106.2, 106.2, 111.8);
    --bs-gray-400-rgb: 106, 106, 112;
    --color-gray-500: #45454c;
    --bs-gray-500-rgb: 69, 69, 76;
    --color-gray-600: rgb(55.2, 55.2, 60.8);
    --bs-gray-600-rgb: 55, 55, 61;
    --color-gray-700: rgb(41.4, 41.4, 45.6);
    --bs-gray-700-rgb: 41, 41, 46;
    --color-gray-800: rgb(27.6, 27.6, 30.4);
    --bs-gray-800-rgb: 28, 28, 30;
    --color-gray-900: rgb(13.8, 13.8, 15.2);
    --bs-gray-900-rgb: 14, 14, 15;
    --color-gray-950: rgb(6.9, 6.9, 7.6);
    --bs-gray-950-rgb: 7, 7, 8;
    --sizes-heading-display-1-size: 8rem;
    --sizes-heading-display-1-lh: 1;
    --sizes-heading-display-1-lp: -0.32rem;
    --sizes-heading-display-2-size: 6rem;
    --sizes-heading-display-2-lh: 1;
    --sizes-heading-display-2-lp: -0.24rem;
    --sizes-heading-display-3-size: 5rem;
    --sizes-heading-display-3-lh: 1;
    --sizes-heading-display-3-lp: -0.2rem;
    --sizes-heading-display-4-size: 4.5rem;
    --sizes-heading-display-4-lh: 1;
    --sizes-heading-display-4-lp: -0.18rem;
    --sizes-heading-display-5-size: 4rem;
    --sizes-heading-display-5-lh: 1;
    --sizes-heading-display-5-lp: -0.16rem;
    --sizes-heading-display-6-size: 3.5rem;
    --sizes-heading-display-6-lh: 1;
    --sizes-heading-display-6-lp: -0.14rem;
    --sizes-heading-h1-size: 3rem;
    --sizes-heading-h1-lh: 1.1;
    --sizes-heading-h1-lp: -0.12rem;
    --sizes-heading-h2-size: 2.5rem;
    --sizes-heading-h2-lh: 1.1;
    --sizes-heading-h2-lp: -0.08rem;
    --sizes-heading-h3-size: 2rem;
    --sizes-heading-h3-lh: 1.1;
    --sizes-heading-h3-lp: -0.07rem;
    --sizes-heading-h4-size: 1.5rem;
    --sizes-heading-h4-lh: 1.2;
    --sizes-heading-h4-lp: -0.06rem;
    --sizes-heading-h5-size: 1.25rem;
    --sizes-heading-h5-lh: 1.2;
    --sizes-heading-h5-lp: -0.05rem;
    --sizes-heading-h6-size: 1rem;
    --sizes-heading-h6-lh: 1.2;
    --sizes-heading-h6-lp: -0.004rem;
    --bs-bg-opacity: 1;
    --bs-text-opacity: 1;
    --bs-border-opacity: 1
}

.from-primary {
    --uc-gradient-from: #dff0f9;
    --uc-gradient-stops: var(--uc-gradient-from), var(--uc-gradient-to)
}

.to-primary-25 {
    --uc-gradient-to: rgb(243.35, 250.4, 245.95)
}

.to-primary-100 {
    --uc-gradient-to: rgb(208.4, 236.6, 218.8)
}

.to-primary-700 {
    --uc-gradient-to: rgb(13.2, 97.8, 44.4)
}

.to-primary-800 {
    --uc-gradient-to: rgb(8.8, 65.2, 29.6)
}

:where(.uc-dark) .dark\:from-primary-700 {
    --uc-gradient-from: rgb(13.2, 97.8, 44.4) !important;
    --uc-gradient-stops: var(--uc-gradient-from), var(--uc-gradient-to)
}

.from-secondary {
    --uc-gradient-from: #dff0f9;
    --uc-gradient-stops: var(--uc-gradient-from), var(--uc-gradient-to)
}

.to-tertiary {
    --uc-gradient-to: #dff0f9
}

.from-tertiary {
    --uc-gradient-from: #dff0f9;
    --uc-gradient-stops: var(--uc-gradient-from), var(--uc-gradient-to)
}

.from-tertiary-200 {
    --uc-gradient-from: rgb(244.2, 254.6, 243.8);
    --uc-gradient-stops: var(--uc-gradient-from), var(--uc-gradient-to)
}

.from-tertiary-600 {
    --uc-gradient-from: rgb(182.4, 203.2, 181.6);
    --uc-gradient-stops: var(--uc-gradient-from), var(--uc-gradient-to)
}

:where(.uc-dark) .dark\:to-tertiary {
    --uc-gradient-to: #dff0f9 !important
}

:where(.uc-dark) .dark\:from-tertiary-200 {
    --uc-gradient-from: rgb(244.2, 254.6, 243.8) !important;
    --uc-gradient-stops: var(--uc-gradient-from), var(--uc-gradient-to)
}

:where(.uc-dark) .dark\:from-tertiary-700 {
    --uc-gradient-from: rgb(136.8, 152.4, 136.2) !important;
    --uc-gradient-stops: var(--uc-gradient-from), var(--uc-gradient-to)
}

:where(.uc-dark) .dark\:to-tertiary-800 {
    --uc-gradient-to: rgb(91.2, 101.6, 90.8) !important
}

:where(.uc-dark) .dark\:from-tertiary-800 {
    --uc-gradient-from: rgb(91.2, 101.6, 90.8) !important;
    --uc-gradient-stops: var(--uc-gradient-from), var(--uc-gradient-to)
}

.to-quaternary {
    --uc-gradient-to: #dff0f9
}

.from-quaternary {
    --uc-gradient-from: #dff0f9;
    --uc-gradient-stops: var(--uc-gradient-from), var(--uc-gradient-to)
}

.from-gray-700 {
    --uc-gradient-from: rgb(41.4, 41.4, 45.6);
    --uc-gradient-stops: var(--uc-gradient-from), var(--uc-gradient-to)
}

.from-gray-800 {
    --uc-gradient-from: rgb(27.6, 27.6, 30.4);
    --uc-gradient-stops: var(--uc-gradient-from), var(--uc-gradient-to)
}

.to-gray-900 {
    --uc-gradient-to: rgb(13.8, 13.8, 15.2)
}

:where(.uc-dark) .dark\:from-gray-700 {
    --uc-gradient-from: rgb(41.4, 41.4, 45.6) !important;
    --uc-gradient-stops: var(--uc-gradient-from), var(--uc-gradient-to)
}

:where(.uc-dark) .dark\:from-gray-800 {
    --uc-gradient-from: rgb(27.6, 27.6, 30.4) !important;
    --uc-gradient-stops: var(--uc-gradient-from), var(--uc-gradient-to)
}

:where(.uc-dark) .dark\:to-gray-900 {
    --uc-gradient-to: rgb(13.8, 13.8, 15.2) !important
}

:where(.uc-dark) .dark\:from-gray-900 {
    --uc-gradient-from: rgb(13.8, 13.8, 15.2) !important;
    --uc-gradient-stops: var(--uc-gradient-from), var(--uc-gradient-to)
}

.text-primary {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important
}

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important
}

.border-primary {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-primary-rgb), var(--bs-border-opacity)) !important
}

.uc-dark .dark\:text-primary {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important
}

.uc-dark .dark\:bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important
}

.uc-dark .dark\:border-primary {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-primary-rgb), var(--bs-border-opacity)) !important
}

.bg-primary-25 {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-primary-25-rgb), var(--bs-bg-opacity)) !important
}

.bg-primary-50 {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-primary-50-rgb), var(--bs-bg-opacity)) !important
}

.bg-primary-100 {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-primary-100-rgb), var(--bs-bg-opacity)) !important
}

.text-primary-200 {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-primary-200-rgb), var(--bs-text-opacity)) !important
}

.bg-primary-300 {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-primary-300-rgb), var(--bs-bg-opacity)) !important
}

.border-primary-300 {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-primary-300-rgb), var(--bs-border-opacity)) !important
}

.text-primary-400 {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-primary-400-rgb), var(--bs-text-opacity)) !important
}

.bg-primary-400 {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-primary-400-rgb), var(--bs-bg-opacity)) !important
}

.uc-dark .dark\:text-primary-400 {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-primary-400-rgb), var(--bs-text-opacity)) !important
}

.bg-primary-600 {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-primary-600-rgb), var(--bs-bg-opacity)) !important
}

.border-primary-600 {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-primary-600-rgb), var(--bs-border-opacity)) !important
}

.hover\:text-primary-600:hover {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-primary-600-rgb), var(--bs-text-opacity)) !important
}

.text-primary-700 {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-primary-700-rgb), var(--bs-text-opacity)) !important
}

.bg-primary-700 {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-primary-700-rgb), var(--bs-bg-opacity)) !important
}

.uc-dark .dark\:text-primary-700 {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-primary-700-rgb), var(--bs-text-opacity)) !important
}

.uc-dark .dark\:bg-primary-700 {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-primary-700-rgb), var(--bs-bg-opacity)) !important
}

.uc-dark .dark\:hover\:text-primary-700:hover {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-primary-700-rgb), var(--bs-text-opacity)) !important
}

.text-secondary {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity)) !important
}

.bg-secondary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity)) !important
}

.border-secondary {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-secondary-rgb), var(--bs-border-opacity)) !important
}

.uc-dark .dark\:text-secondary {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity)) !important
}

.uc-dark .dark\:bg-secondary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity)) !important
}

.uc-dark .dark\:border-secondary {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-secondary-rgb), var(--bs-border-opacity)) !important
}

.text-secondary-200 {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-secondary-200-rgb), var(--bs-text-opacity)) !important
}

.text-secondary-300 {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-secondary-300-rgb), var(--bs-text-opacity)) !important
}

.bg-secondary-300 {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-secondary-300-rgb), var(--bs-bg-opacity)) !important
}

.hover\:bg-secondary-300:hover {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-secondary-300-rgb), var(--bs-bg-opacity)) !important
}

.border-secondary-600 {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-secondary-600-rgb), var(--bs-border-opacity)) !important
}

.text-secondary-900 {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-secondary-900-rgb), var(--bs-text-opacity)) !important
}

.text-tertiary {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-tertiary-rgb), var(--bs-text-opacity)) !important
}

.bg-tertiary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-tertiary-rgb), var(--bs-bg-opacity)) !important
}

.border-tertiary {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-tertiary-rgb), var(--bs-border-opacity)) !important
}

.uc-dark .dark\:text-tertiary {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-tertiary-rgb), var(--bs-text-opacity)) !important
}

.uc-dark .dark\:bg-tertiary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-tertiary-rgb), var(--bs-bg-opacity)) !important
}

.uc-dark .dark\:border-tertiary {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-tertiary-rgb), var(--bs-border-opacity)) !important
}

.bg-tertiary-50 {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-tertiary-50-rgb), var(--bs-bg-opacity)) !important
}

.border-tertiary-50 {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-tertiary-50-rgb), var(--bs-border-opacity)) !important
}

.text-tertiary-100 {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-tertiary-100-rgb), var(--bs-text-opacity)) !important
}

.border-tertiary-100 {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-tertiary-100-rgb), var(--bs-border-opacity)) !important
}

.text-tertiary-200 {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-tertiary-200-rgb), var(--bs-text-opacity)) !important
}

.uc-dark .dark\:text-tertiary-200 {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-tertiary-200-rgb), var(--bs-text-opacity)) !important
}

.bg-tertiary-300 {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-tertiary-300-rgb), var(--bs-bg-opacity)) !important
}

.uc-dark .dark\:hover\:bg-tertiary-300:hover {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-tertiary-300-rgb), var(--bs-bg-opacity)) !important
}

.text-tertiary-400 {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-tertiary-400-rgb), var(--bs-text-opacity)) !important
}

.uc-dark .dark\:text-tertiary-400 {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-tertiary-400-rgb), var(--bs-text-opacity)) !important
}

.uc-dark .dark\:bg-tertiary-600 {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-tertiary-600-rgb), var(--bs-bg-opacity)) !important
}

.uc-dark .dark\:border-tertiary-600 {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-tertiary-600-rgb), var(--bs-border-opacity)) !important
}

.text-tertiary-700 {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-tertiary-700-rgb), var(--bs-text-opacity)) !important
}

.bg-tertiary-700 {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-tertiary-700-rgb), var(--bs-bg-opacity)) !important
}

.uc-dark .dark\:bg-tertiary-700 {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-tertiary-700-rgb), var(--bs-bg-opacity)) !important
}

.bg-tertiary-800 {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-tertiary-800-rgb), var(--bs-bg-opacity)) !important
}

.uc-dark .dark\:bg-tertiary-800 {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-tertiary-800-rgb), var(--bs-bg-opacity)) !important
}

.text-tertiary-900 {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-tertiary-900-rgb), var(--bs-text-opacity)) !important
}

.bg-quaternary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-quaternary-rgb), var(--bs-bg-opacity)) !important
}

.uc-dark .dark\:text-quaternary {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-quaternary-rgb), var(--bs-text-opacity)) !important
}

.uc-dark .dark\:bg-quaternary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-quaternary-rgb), var(--bs-bg-opacity)) !important
}

.uc-dark .dark\:border-quaternary {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-quaternary-rgb), var(--bs-border-opacity)) !important
}

.text-gray {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-gray-rgb), var(--bs-text-opacity)) !important
}

.bg-gray-25 {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-gray-25-rgb), var(--bs-bg-opacity)) !important
}

.bg-gray-50 {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-gray-50-rgb), var(--bs-bg-opacity)) !important
}

.border-gray-50 {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-gray-50-rgb), var(--bs-border-opacity)) !important
}

.hover\:bg-gray-50:hover {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-gray-50-rgb), var(--bs-bg-opacity)) !important
}

.text-gray-100 {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-gray-100-rgb), var(--bs-text-opacity)) !important
}

.bg-gray-100 {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-gray-100-rgb), var(--bs-bg-opacity)) !important
}

.border-gray-100 {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-gray-100-rgb), var(--bs-border-opacity)) !important
}

.uc-dark .dark\:text-gray-100 {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-gray-100-rgb), var(--bs-text-opacity)) !important
}

.uc-dark .dark\:bg-gray-100 {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-gray-100-rgb), var(--bs-bg-opacity)) !important
}

.text-gray-200 {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-gray-200-rgb), var(--bs-text-opacity)) !important
}

.border-gray-200 {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-gray-200-rgb), var(--bs-border-opacity)) !important
}

.uc-dark .dark\:text-gray-200 {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-gray-200-rgb), var(--bs-text-opacity)) !important
}

.text-gray-300 {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-gray-300-rgb), var(--bs-text-opacity)) !important
}

.bg-gray-300 {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-gray-300-rgb), var(--bs-bg-opacity)) !important
}

.border-gray-300 {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-gray-300-rgb), var(--bs-border-opacity)) !important
}

.uc-dark .dark\:text-gray-300 {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-gray-300-rgb), var(--bs-text-opacity)) !important
}

.uc-dark .dark\:bg-gray-300 {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-gray-300-rgb), var(--bs-bg-opacity)) !important
}

.uc-dark .dark\:border-gray-300 {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-gray-300-rgb), var(--bs-border-opacity)) !important
}

.text-gray-400 {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-gray-400-rgb), var(--bs-text-opacity)) !important
}

.uc-dark .dark\:border-gray-400 {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-gray-400-rgb), var(--bs-border-opacity)) !important
}

.text-gray-500 {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-gray-500-rgb), var(--bs-text-opacity)) !important
}

.uc-dark .dark\:border-gray-500 {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-gray-500-rgb), var(--bs-border-opacity)) !important
}

.uc-dark .dark\:hover\:bg-gray-500:hover {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-gray-500-rgb), var(--bs-bg-opacity)) !important
}

.text-gray-600 {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-gray-600-rgb), var(--bs-text-opacity)) !important
}

.uc-dark .dark\:bg-gray-600 {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-gray-600-rgb), var(--bs-bg-opacity)) !important
}

.uc-dark .dark\:border-gray-600 {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-gray-600-rgb), var(--bs-border-opacity)) !important
}

.hover\:bg-gray-600:hover {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-gray-600-rgb), var(--bs-bg-opacity)) !important
}

.uc-dark .dark\:text-gray-700 {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-gray-700-rgb), var(--bs-text-opacity)) !important
}

.uc-dark .dark\:bg-gray-700 {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-gray-700-rgb), var(--bs-bg-opacity)) !important
}

.uc-dark .dark\:border-gray-700 {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-gray-700-rgb), var(--bs-border-opacity)) !important
}

.uc-dark .dark\:hover\:bg-gray-700:hover {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-gray-700-rgb), var(--bs-bg-opacity)) !important
}

.bg-gray-800 {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-gray-800-rgb), var(--bs-bg-opacity)) !important
}

.uc-dark .dark\:bg-gray-800 {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-gray-800-rgb), var(--bs-bg-opacity)) !important
}

.uc-dark .dark\:border-gray-800 {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-gray-800-rgb), var(--bs-border-opacity)) !important
}

.uc-dark .dark\:hover\:bg-gray-800:hover {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-gray-800-rgb), var(--bs-bg-opacity)) !important
}

.text-gray-900 {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-gray-900-rgb), var(--bs-text-opacity)) !important
}

.bg-gray-900 {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-gray-900-rgb), var(--bs-bg-opacity)) !important
}

.border-gray-900 {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-gray-900-rgb), var(--bs-border-opacity)) !important
}

.uc-dark .dark\:bg-gray-900 {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-gray-900-rgb), var(--bs-bg-opacity)) !important
}

.uc-dark .dark\:border-gray-900 {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-gray-900-rgb), var(--bs-border-opacity)) !important
}

.uc-dark .dark\:hover\:text-gray-900:hover {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-gray-900-rgb), var(--bs-text-opacity)) !important
}

:where(.uc-dark) .dark\:bg-white,
:where(.uc-dark) .dark\:hover\:bg-white:hover {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important
}

:where(.uc-dark) .dark\:bg-black {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-black-rgb), var(--bs-bg-opacity)) !important
}

:where(.uc-dark) .dark\:hover\:text-white:hover,
:where(.uc-dark) .dark\:text-white {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important
}

:where(.uc-dark) .dark\:hover\:text-dark:hover,
:where(.uc-dark) .dark\:text-dark {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important
}

:where(.uc-dark) .dark\:border-white {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-white-rgb), var(--bs-border-opacity)) !important
}

body {
    font-family: var(--font-primary);
    font-weight: 400
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
    font-weight: 700
}

.display-5 {
    font-size: var(--sizes-heading-display-5-size) !important;
    line-height: var(--sizes-heading-display-5-lh) !important;
    letter-spacing: var(--sizes-heading-display-5-lp) !important
}

.h1,
h1 {
    font-size: var(--sizes-heading-h1-size) !important;
    line-height: var(--sizes-heading-h1-lh) !important;
    letter-spacing: var(--sizes-heading-h1-lp) !important
}

.h2,
h2 {
    font-size: var(--sizes-heading-h2-size) !important;
    line-height: var(--sizes-heading-h2-lh) !important;
    letter-spacing: var(--sizes-heading-h2-lp) !important
}

.h3,
h3 {
    font-size: var(--sizes-heading-h3-size) !important;
    line-height: var(--sizes-heading-h3-lh) !important;
    letter-spacing: var(--sizes-heading-h3-lp) !important
}

.h4,
h4 {
    font-size: var(--sizes-heading-h4-size) !important;
    line-height: var(--sizes-heading-h4-lh) !important;
    letter-spacing: var(--sizes-heading-h4-lp) !important
}

.h5,
h5 {
    font-size: var(--sizes-heading-h5-size) !important;
    line-height: var(--sizes-heading-h5-lh) !important;
    letter-spacing: var(--sizes-heading-h5-lp) !important
}

.h6,
h6 {
    font-size: var(--sizes-heading-h6-size) !important;
    line-height: var(--sizes-heading-h6-lh) !important;
    letter-spacing: var(--sizes-heading-h6-lp) !important
}

@media(min-width: 459px) {
    .sm\:display-2 {
        font-size: var(--sizes-heading-display-2-size) !important;
        line-height: var(--sizes-heading-display-2-lh) !important;
        letter-spacing: var(--sizes-heading-display-2-lp) !important
    }

    .sm\:display-6 {
        font-size: var(--sizes-heading-display-6-size) !important;
        line-height: var(--sizes-heading-display-6-lh) !important;
        letter-spacing: var(--sizes-heading-display-6-lp) !important
    }

    .sm\:h1 {
        font-size: var(--sizes-heading-h1-size) !important;
        line-height: var(--sizes-heading-h1-lh) !important;
        letter-spacing: var(--sizes-heading-h1-lp) !important
    }

    .sm\:h2 {
        font-size: var(--sizes-heading-h2-size) !important;
        line-height: var(--sizes-heading-h2-lh) !important;
        letter-spacing: var(--sizes-heading-h2-lp) !important
    }

    .sm\:h3 {
        font-size: var(--sizes-heading-h3-size) !important;
        line-height: var(--sizes-heading-h3-lh) !important;
        letter-spacing: var(--sizes-heading-h3-lp) !important
    }

    .sm\:h4 {
        font-size: var(--sizes-heading-h4-size) !important;
        line-height: var(--sizes-heading-h4-lh) !important;
        letter-spacing: var(--sizes-heading-h4-lp) !important
    }

    .sm\:h5 {
        font-size: var(--sizes-heading-h5-size) !important;
        line-height: var(--sizes-heading-h5-lh) !important;
        letter-spacing: var(--sizes-heading-h5-lp) !important
    }
}

@media(min-width: 768px) {
    .md\:display-5 {
        font-size: var(--sizes-heading-display-5-size) !important;
        line-height: var(--sizes-heading-display-5-lh) !important;
        letter-spacing: var(--sizes-heading-display-5-lp) !important
    }

    .md\:display-6 {
        font-size: var(--sizes-heading-display-6-size) !important;
        line-height: var(--sizes-heading-display-6-lh) !important;
        letter-spacing: var(--sizes-heading-display-6-lp) !important
    }

    .md\:h1 {
        font-size: var(--sizes-heading-h1-size) !important;
        line-height: var(--sizes-heading-h1-lh) !important;
        letter-spacing: var(--sizes-heading-h1-lp) !important
    }

    .md\:h2 {
        font-size: var(--sizes-heading-h2-size) !important;
        line-height: var(--sizes-heading-h2-lh) !important;
        letter-spacing: var(--sizes-heading-h2-lp) !important
    }

    .md\:h3 {
        font-size: var(--sizes-heading-h3-size) !important;
        line-height: var(--sizes-heading-h3-lh) !important;
        letter-spacing: var(--sizes-heading-h3-lp) !important
    }

    .md\:h4 {
        font-size: var(--sizes-heading-h4-size) !important;
        line-height: var(--sizes-heading-h4-lh) !important;
        letter-spacing: var(--sizes-heading-h4-lp) !important
    }

    .md\:h5 {
        font-size: var(--sizes-heading-h5-size) !important;
        line-height: var(--sizes-heading-h5-lh) !important;
        letter-spacing: var(--sizes-heading-h5-lp) !important
    }
}

@media(min-width: 992px) {
    .lg\:display-4 {
        font-size: var(--sizes-heading-display-4-size) !important;
        line-height: var(--sizes-heading-display-4-lh) !important;
        letter-spacing: var(--sizes-heading-display-4-lp) !important
    }

    .lg\:display-5 {
        font-size: var(--sizes-heading-display-5-size) !important;
        line-height: var(--sizes-heading-display-5-lh) !important;
        letter-spacing: var(--sizes-heading-display-5-lp) !important
    }

    .lg\:display-6 {
        font-size: var(--sizes-heading-display-6-size) !important;
        line-height: var(--sizes-heading-display-6-lh) !important;
        letter-spacing: var(--sizes-heading-display-6-lp) !important
    }

    .lg\:h1 {
        font-size: var(--sizes-heading-h1-size) !important;
        line-height: var(--sizes-heading-h1-lh) !important;
        letter-spacing: var(--sizes-heading-h1-lp) !important
    }

    .lg\:h2 {
        font-size: var(--sizes-heading-h2-size) !important;
        line-height: var(--sizes-heading-h2-lh) !important;
        letter-spacing: var(--sizes-heading-h2-lp) !important
    }

    .lg\:h3 {
        font-size: var(--sizes-heading-h3-size) !important;
        line-height: var(--sizes-heading-h3-lh) !important;
        letter-spacing: var(--sizes-heading-h3-lp) !important
    }

    .lg\:h4 {
        font-size: var(--sizes-heading-h4-size) !important;
        line-height: var(--sizes-heading-h4-lh) !important;
        letter-spacing: var(--sizes-heading-h4-lp) !important
    }

    .lg\:h5 {
        font-size: var(--sizes-heading-h5-size) !important;
        line-height: var(--sizes-heading-h5-lh) !important;
        letter-spacing: var(--sizes-heading-h5-lp) !important
    }

    .lg\:h6 {
        font-size: var(--sizes-heading-h6-size) !important;
        line-height: var(--sizes-heading-h6-lh) !important;
        letter-spacing: var(--sizes-heading-h6-lp) !important
    }
}

@media(min-width: 1200px) {
    .xl\:display-2 {
        font-size: var(--sizes-heading-display-2-size) !important;
        line-height: var(--sizes-heading-display-2-lh) !important;
        letter-spacing: var(--sizes-heading-display-2-lp) !important
    }

    .xl\:display-3 {
        font-size: var(--sizes-heading-display-3-size) !important;
        line-height: var(--sizes-heading-display-3-lh) !important;
        letter-spacing: var(--sizes-heading-display-3-lp) !important
    }

    .xl\:display-4 {
        font-size: var(--sizes-heading-display-4-size) !important;
        line-height: var(--sizes-heading-display-4-lh) !important;
        letter-spacing: var(--sizes-heading-display-4-lp) !important
    }

    .xl\:display-5 {
        font-size: var(--sizes-heading-display-5-size) !important;
        line-height: var(--sizes-heading-display-5-lh) !important;
        letter-spacing: var(--sizes-heading-display-5-lp) !important
    }

    .xl\:display-6 {
        font-size: var(--sizes-heading-display-6-size) !important;
        line-height: var(--sizes-heading-display-6-lh) !important;
        letter-spacing: var(--sizes-heading-display-6-lp) !important
    }

    .xl\:h1 {
        font-size: var(--sizes-heading-h1-size) !important;
        line-height: var(--sizes-heading-h1-lh) !important;
        letter-spacing: var(--sizes-heading-h1-lp) !important
    }

    .xl\:h2 {
        font-size: var(--sizes-heading-h2-size) !important;
        line-height: var(--sizes-heading-h2-lh) !important;
        letter-spacing: var(--sizes-heading-h2-lp) !important
    }

    .xl\:h3 {
        font-size: var(--sizes-heading-h3-size) !important;
        line-height: var(--sizes-heading-h3-lh) !important;
        letter-spacing: var(--sizes-heading-h3-lp) !important
    }

    .xl\:h4 {
        font-size: var(--sizes-heading-h4-size) !important;
        line-height: var(--sizes-heading-h4-lh) !important;
        letter-spacing: var(--sizes-heading-h4-lp) !important
    }

    .xl\:h5 {
        font-size: var(--sizes-heading-h5-size) !important;
        line-height: var(--sizes-heading-h5-lh) !important;
        letter-spacing: var(--sizes-heading-h5-lp) !important
    }
}

.btn {
    border-radius: var(--border-radius);
    font-family: var(--font-family-tertiary);
    font-weight: 500
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #1a49f8;
    --bs-btn-border-color: #1a49f8;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgb(17.6, 130.4, 59.2);
    --bs-btn-hover-border-color: rgb(17.6, 130.4, 59.2);
    --bs-btn-focus-shadow-rgb: 69, 181, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgb(13.2, 97.8, 44.4);
    --bs-btn-active-border-color: rgb(13.2, 97.8, 44.4);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #16A34A;
    --bs-btn-disabled-border-color: #16A34A
}

.btn-primary-200 {
    --bs-btn-color: #000;
    --bs-btn-bg: rgb(161.8, 218.2, 182.6);
    --bs-btn-border-color: rgb(161.8, 218.2, 182.6);
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: rgb(115.2, 199.8, 146.4);
    --bs-btn-hover-border-color: rgb(115.2, 199.8, 146.4);
    --bs-btn-focus-shadow-rgb: 208, 237, 219;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgb(68.6, 181.4, 110.2);
    --bs-btn-active-border-color: rgb(68.6, 181.4, 110.2);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: rgb(161.8, 218.2, 182.6);
    --bs-btn-disabled-border-color: rgb(161.8, 218.2, 182.6)
}

.btn-primary-700 {
    --bs-btn-color: #fff;
    --bs-btn-bg: rgb(13.2, 97.8, 44.4);
    --bs-btn-border-color: rgb(13.2, 97.8, 44.4);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgb(8.8, 65.2, 29.6);
    --bs-btn-hover-border-color: rgb(8.8, 65.2, 29.6);
    --bs-btn-focus-shadow-rgb: 18, 130, 59;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgb(4.4, 32.6, 14.8);
    --bs-btn-active-border-color: rgb(4.4, 32.6, 14.8);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: rgb(13.2, 97.8, 44.4);
    --bs-btn-disabled-border-color: rgb(13.2, 97.8, 44.4)
}

.btn-outline-primary {
    --bs-btn-color: #16A34A;
    --bs-btn-border-color: #16A34A;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #16A34A;
    --bs-btn-hover-border-color: #16A34A;
    --bs-btn-focus-shadow-rgb: 22, 163, 74;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgb(13.2, 97.8, 44.4);
    --bs-btn-active-border-color: rgb(13.2, 97.8, 44.4);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #16A34A;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #16A34A;
    --bs-gradient: none
}

.btn-alt-primary {
    background: #fff !important;
    color: #16a34a !important
}

.btn-alt-primary:focus,
.btn-alt-primary:hover {
    background: #16a34a !important;
    color: #fff !important
}

.btn-ghost-primary {
    background: rgb(231.7, 245.8, 236.9) !important;
    color: #16a34a !important
}

.btn-ghost-primary:focus,
.btn-ghost-primary:hover {
    background: rgb(208.4, 236.6, 218.8) !important;
    color: #16a34a !important
}

.btn-secondary {
    --bs-btn-color: #000;
    --bs-btn-bg: #F3F8F2;
    --bs-btn-border-color: #F3F8F2;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: rgb(194.4, 198.4, 193.6);
    --bs-btn-hover-border-color: rgb(194.4, 198.4, 193.6);
    --bs-btn-focus-shadow-rgb: 245, 249, 245;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgb(145.8, 148.8, 145.2);
    --bs-btn-active-border-color: rgb(145.8, 148.8, 145.2);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #F3F8F2;
    --bs-btn-disabled-border-color: #F3F8F2
}

.btn-tertiary {
    --bs-btn-color: #000;
    --bs-btn-bg: #dff0f9;
    --bs-btn-border-color: #dff0f9;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: rgb(182.4, 203.2, 181.6);
    --bs-btn-hover-border-color: rgb(182.4, 203.2, 181.6);
    --bs-btn-focus-shadow-rgb: 233, 254, 233;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgb(136.8, 152.4, 136.2);
    --bs-btn-active-border-color: rgb(136.8, 152.4, 136.2);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #dff0f9;
    --bs-btn-disabled-border-color: #dff0f9
}

.btn-outline-tertiary {
    --bs-btn-color: #000;
    --bs-btn-border-color: #dff0f9;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #dff0f9;
    --bs-btn-hover-border-color: #dff0f9;
    --bs-btn-focus-shadow-rgb: 228, 254, 227;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgb(136.8, 152.4, 136.2);
    --bs-btn-active-border-color: rgb(136.8, 152.4, 136.2);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #dff0f9;
    --bs-gradient: none
}

.btn-ghost-tertiary {
    background: rgb(252.3, 254.9, 252.2) !important;
    color: #000 !important
}

.btn-ghost-tertiary:focus,
.btn-ghost-tertiary:hover {
    background: rgb(249.6, 254.8, 249.4) !important;
    color: #000 !important
}

.btn-gray {
    --bs-btn-color: #fff;
    --bs-btn-bg: #45454c;
    --bs-btn-border-color: #45454c;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgb(55.2, 55.2, 60.8);
    --bs-btn-hover-border-color: rgb(55.2, 55.2, 60.8);
    --bs-btn-focus-shadow-rgb: 106, 106, 112;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgb(41.4, 41.4, 45.6);
    --bs-btn-active-border-color: rgb(41.4, 41.4, 45.6);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #45454c;
    --bs-btn-disabled-border-color: #45454c
}

.text-gradient {
    background-color: var(--gradient-first);
    background-image: linear-gradient(var(--gradient-angle), var(--gradient-first), var(--gradient-second));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0)
}

.text-muted {
    --bs-text-opacity: 0.5;
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important
}

.text-muted:where(.uc-dark),
:where(.uc-dark) .text-muted {
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important
}

.opacity-10 {
    opacity: .1 !important
}

.opacity-20 {
    opacity: .2 !important
}

.opacity-25 {
    opacity: .25 !important
}

.opacity-40 {
    opacity: .4 !important
}

.opacity-50 {
    opacity: .5 !important
}

.opacity-60 {
    opacity: .6 !important
}

.opacity-70 {
    opacity: .7 !important
}

.opacity-75 {
    opacity: .75 !important
}

.opacity-80 {
    opacity: .8 !important
}

:where(.uc-dark) .dark\:opacity-80 {
    opacity: .8 !important
}

:where(.uc-dark) .dark\:opacity-90 {
    opacity: .9 !important
}

.opacity-100 {
    opacity: 1 !important
}

:where(.uc-dark) .dark\:bg-opacity-0 {
    --bs-bg-opacity: 0 !important
}

.bg-opacity-5,
.hover\:bg-opacity-5:hover {
    --bs-bg-opacity: 0.05 !important
}

:where(.uc-dark) .dark\:bg-opacity-5 {
    --bs-bg-opacity: 0.05 !important
}

.bg-opacity-10,
.hover\:bg-opacity-10:hover {
    --bs-bg-opacity: 0.1 !important
}

:where(.uc-dark) .dark\:bg-opacity-10 {
    --bs-bg-opacity: 0.1 !important
}

.bg-opacity-15 {
    --bs-bg-opacity: 0.15 !important
}

:where(.uc-dark) .dark\:bg-opacity-15 {
    --bs-bg-opacity: 0.15 !important
}

.bg-opacity-40 {
    --bs-bg-opacity: 0.4 !important
}

.bg-opacity-50 {
    --bs-bg-opacity: 0.5 !important
}

:where(.uc-dark) .dark\:bg-opacity-50 {
    --bs-bg-opacity: 0.5 !important
}

.bg-opacity-70,
.hover\:bg-opacity-70:hover {
    --bs-bg-opacity: 0.7 !important
}

.bg-opacity-80 {
    --bs-bg-opacity: 0.8 !important
}

:where(.uc-dark) .dark\:hover\:bg-opacity-80:hover {
    --bs-bg-opacity: 0.8 !important
}

.bg-opacity-90,
.hover\:bg-opacity-90:hover {
    --bs-bg-opacity: 0.9 !important
}

:where(.uc-dark) .dark\:text-opacity-10 {
    --bs-text-opacity: 0.1 !important
}

.text-opacity-20 {
    --bs-text-opacity: 0.2 !important
}

:where(.uc-dark) .dark\:text-opacity-50 {
    --bs-text-opacity: 0.5 !important
}

.text-opacity-60 {
    --bs-text-opacity: 0.6 !important
}

:where(.uc-dark) .dark\:text-opacity-60 {
    --bs-text-opacity: 0.6 !important
}

.hover\:text-opacity-70:hover,
.text-opacity-70 {
    --bs-text-opacity: 0.7 !important
}

:where(.uc-dark) .dark\:text-opacity-70 {
    --bs-text-opacity: 0.7 !important
}

.text-opacity-75 {
    --bs-text-opacity: 0.75 !important
}

.text-opacity-80 {
    --bs-text-opacity: 0.8 !important
}

:where(.uc-dark) .dark\:text-opacity-100 {
    --bs-text-opacity: 1 !important
}

:where(.uc-dark) .dark\:border-opacity-0 {
    --bs-border-opacity: 0 !important
}

.border-opacity-5 {
    --bs-border-opacity: 0.05 !important
}

.border-opacity-10 {
    --bs-border-opacity: 0.1 !important
}

:where(.uc-dark) .dark\:border-opacity-10 {
    --bs-border-opacity: 0.1 !important
}

.border-opacity-15 {
    --bs-border-opacity: 0.15 !important
}

:where(.uc-dark) .dark\:border-opacity-15 {
    --bs-border-opacity: 0.15 !important
}

.border-opacity-20 {
    --bs-border-opacity: 0.2 !important
}

:where(.uc-dark) .dark\:border-opacity-20 {
    --bs-border-opacity: 0.2 !important
}

:where(.uc-dark) .dark\:border-opacity-30 {
    --bs-border-opacity: 0.3 !important
}

.hover\:border-opacity-40:hover {
    --bs-border-opacity: 0.4 !important
}

.swiper-pagination-bullet-active {
    width: 32px !important;
    transition: .1s
}

.swiper-pagination {
    gap: 16px
}

.uc-subnav>.uc-active>a {
    color: #fff !important
}

.products .custom-scrollspy>li>a {
    color: #000
}

.products .custom-scrollspy>li>a:where(.uc-dark),
:where(.uc-dark) .products .custom-scrollspy>li>a {
    color: #fff
}

.products .custom-scrollspy>li.uc-active {
    border: none;
    background-color: var(--color-gray-800)
}

.products .custom-scrollspy>li.uc-active:where(.uc-dark),
:where(.uc-dark) .products .custom-scrollspy>li.uc-active {
    background-color: #fff
}

.products .custom-scrollspy>li.uc-active>a {
    color: #fff
}

.products .custom-scrollspy>li.uc-active>a:where(.uc-dark),
:where(.uc-dark) .products .custom-scrollspy>li.uc-active>a {
    color: var(--color-gray-900)
}

.solutions .main-solutions-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center
}

.solutions .main-solutions-nav>li {
    position: relative;
    width: 100%;
    transition: 250ms
}

.solutions .main-solutions-nav>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 80px !important;
    padding: 0 16px
}

.solutions .main-solutions-nav>li.uc-active {
    border: none;
    background-color: var(--color-gray-800)
}

.solutions .main-solutions-nav>li.uc-active:where(.uc-dark),
:where(.uc-dark) .solutions .main-solutions-nav>li.uc-active {
    background-color: #fff
}

.solutions .main-solutions-nav>li.uc-active>a {
    color: #fff
}

.solutions .main-solutions-nav>li.uc-active>a:where(.uc-dark),
:where(.uc-dark) .solutions .main-solutions-nav>li.uc-active>a {
    color: var(--color-gray-900)
}

.uc-navbar-nav>li>a {
    padding: 0 1rem !important;
    border-radius: .75rem;
    opacity: 1 !important
}

.uc-navbar-nav>li>a:hover,
.uc-navbar-nav>li>a[aria-expanded=true] {
    box-shadow: none;
    background-color: var(--color-primary-50)
}

.uc-navbar-nav>li>a:hover:where(.uc-dark),
.uc-navbar-nav>li>a[aria-expanded=true]:where(.uc-dark),
:where(.uc-dark) .uc-navbar-nav>li>a:hover,
:where(.uc-dark) .uc-navbar-nav>li>a[aria-expanded=true] {
    background-color: var(--color-gray-800)
}